.balancesGrid {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1rem;
  margin: 1rem;
}

.token {
  justify-self: end;
  font-weight: bold;
}

.balance {
  justify-self: start;
}
